// Navbar
nav(class="navbar navbar-expand-lg navbar-dark indigo")

    a(class="navbar-brand" href="/marks") Markd 

    // Collapse Button
    button(
        class="navbar-toggler" 
        type="button" data-toggle="collapse" 
        data-target="#navbarSupportedContent" 
        aria-controls="navbarSupportedContent" 
        aria-expanded="false" 
        aria-label="Toggle navigation"
    )
        span(class="navbar-toggler-icon")

    // Collapsible content
    div(class="collapse navbar-collapse" id="navbarSupportedContent")
        // Links
        ul(class="navbar-nav")
            block navlinks

br
